.MacroAsset {
  background-color:white;
}

.Entity {
  background-color: #0000FF;
  color: white
}

.Credit {
  background-color: green;
  color: white
}

.PositivePrice {
  background-color: #0000FF;
  color: white
}

.NegativePrice {
  background-color: red;
  color: white
}